body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  list-style: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.App {
  min-height: 100vh;
  background-color: #130e13;
  background-image: linear-gradient(
    160deg,
    #130e13 0%,
    #472359 50%,
    #693483 100%
  );
}

/* Navbar animation */
nav {
  position: relative;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li .link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #fdfdfd;
}

.hover-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover + .hover-bar {
  transform: scaleX(1);
}
